{{ $pages := where .Site.RegularPages "Type" "posts" }}
{{ range first 2 (after 1 $pages) }}
{{ $p := . }}
<div class="sidebar-card">
  {{ with .Params.images }}
  <div class="sidebar-thumb">
    <a href="{{ $p.Permalink }}"><img src="{{ index . 0 }}" alt="{{ $p.Title }}"></a>
  </div>
  {{ end }}
  <div class="sidebar-info">
    <div class="card-cat">{{ index $p.Params.categories 0 }}</div>
    <a href="{{ $p.Permalink }}">{{ $p.Title }}</a>
    <span>{{ $p.Date.Format "1月2日" }}</span>
  </div>
</div>
{{ end }}